@page
@model Stutooroo.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="column">
        @if (Model.UserToDelete.ImagePath != null)
        {
            <img src="@Model.UserToDelete.ImagePath" height="100" width="100" />
        }
        else
        {
            <img src="/Images/icons8-user-96.png" height="100" width="100" />
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserToDelete.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserToDelete.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserToDelete.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserToDelete.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserToDelete.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserToDelete.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserToDelete.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserToDelete.Bio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserToDelete.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserToDelete.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserToDelete.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserToDelete.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserToDelete.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserToDelete.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserToDelete.PhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserToDelete.PhoneNo)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="UserToDelete.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
