@page
@model Stutooroo.Pages.Listings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Listing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.PostedAtDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.PostedAtDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.ExperienceLvl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExperienceLvl.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.HourlyRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.HourlyRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.SubjectGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectGroup.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing.PostedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostedByUser.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Listing?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
