@page
@model Stutooroo.Pages.Listings.IndexModel

@{
    ViewData["Title"] = "Tutor Listings";

    int pageNo = 0;

    if(Model.Pager.CurrentPage != null)
        pageNo = Model.Pager.CurrentPage;
}

<h1>Tutor Listings</h1>

<div style="display: flex; align-items: center;">
    <h3 style="margin-right: 10px;">Filter</h3>
    <img src="~/Images/icons8-filter-48.png" type="button" id="toggleFormButton" height="30" />
</div>

<!-- Collapsible Form Section -->
<div id="filterFormContainer" style="display: none;">
    <form method="get">
        <div class="form-group">
            <label asp-for="ListingFilter.SearchString">Search:</label>
            <input asp-for="ListingFilter.SearchString" class="form-control" value="@Model.ListingFilter.SearchString" />

            <label>Experience Level</label>
            <select asp-for="ListingFilter.ExperienceLvlIdFilter" class="form-control" asp-items="ViewBag.ExperienceLvlId"></select>

            <label>Subject Group</label>
            <select asp-for="ListingFilter.SubjectGroupIdFilter" class="form-control" asp-items="ViewBag.SubjectGroupId"></select>

        <label asp-for="ListingFilter.DateFilterStart" class="control-label"></label>
        @{
            if(Model.ListingFilter.DateFilterStart != DateTime.MinValue)
            {
                <input asp-for="ListingFilter.DateFilterStart" class="form-control" value="@Model.ListingFilter.DateFilterStart" />
            }
            else
            {
                <input asp-for="ListingFilter.DateFilterStart" class="form-control" value="" />
            }
        }
        <label asp-for="ListingFilter.HourlyRateFilter" class="control-label"></label>
        @{
            if(Model.ListingFilter.HourlyRateFilter != float.MaxValue)
            {
                <input asp-for="ListingFilter.HourlyRateFilter" class="form-control" value="@Model.ListingFilter.HourlyRateFilter" />
            }
            else
            {
                <input asp-for="ListingFilter.HourlyRateFilter" class="form-control" value="" />
            }
        }
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr />
</div>


<!-- JavaScript/jQuery to Toggle Form Visibility -->
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle click event on the toggle button
            $('#toggleFormButton').click(function () {
                $('#filterFormContainer').slideToggle(); // Toggle visibility of the form section
            });
        });
    </script>
}
<a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].PostedAtDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].ExperienceLvl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].HourlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].PostedByUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].PostedByUser.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Listing) {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">
                        @{var listingImage = Model.Images.FirstOrDefault(m => m.ListingId == item.Id);
                        if(listingImage != null)
                        {
                            <img src="@listingImage.ImagePath" width="100" />
                        }
                        else
                        {
                            <img src="Images/teacher_11720191.png" width="100" />
                        }
                        }
                    </a>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedAtDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceLvl.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedByUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedByUser.FirstName)
            </td>
            <td>
                @{
                    if(Model.UserId == item.PostedByUserId || User.IsInRole("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-page = "./Delete" asp-route-id = "@item.Id" > Delete </a>
                    }
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
@if(Model.Listing.Count < 1)
{
    <p>No listings found.</p>
}

<div class="d-flex justify-content-end">
    @if (Model.Pager.CurrentPage > 1)
    {
        int previousPage = Model.Pager.CurrentPage - 1;
        <form method="get" asp-page="/Listings/Index" asp-route-pg="@previousPage">
            <input type="hidden" name="pg" value="@previousPage" />
            <button type="submit" class="btn btn-secondary mr-2">Previous</button>
        </form>
    }
    @if (Model.Pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end mb-0">
            @for (var pge = Model.Pager.StartPage; pge <= Model.Pager.EndPage; pge++)
            {
                <li class="page-item @(pge == Model.Pager.CurrentPage ? "active" : "")">
                    <form method="get" asp-page="/Listings/Index" asp-route-pg="@pge">
                        <input type="hidden" name="pg" value="@pge" />
                        <input type="hidden" name="ListingFilter.SearchString" value="@Model.ListingFilter.SearchString" />
                        <input type="hidden" name="ListingFilter.ExperienceLvlIdFilter" value="@Model.ListingFilter.ExperienceLvlIdFilter" />
                        <input type="hidden" name="ListingFilter.SubjectGroupIdFilter" value="@Model.ListingFilter.SubjectGroupIdFilter" />
                        <input type="hidden" name="ListingFilter.DateFilterStart" value="@Model.ListingFilter.DateFilterStart" />
                        @if(Model.ListingFilter.HourlyRateFilter != float.MaxValue)
                        {
                        <input asp-for="ListingFilter.HourlyRateFilter" type="hidden" class="form-control" value="@Model.ListingFilter.HourlyRateFilter" />
                        }
                        else
                        {
                        <input asp-for="ListingFilter.HourlyRateFilter" type="hidden" class="form-control" value="" />
                        }

                        <button type="submit" class="btn @(pge == Model.Pager.CurrentPage ? "btn-primary" : "btn-secondary")">@pge</button>
                    </form>
                </li>
            }
        </ul>
    }
        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
        {
            int nextPage = Model.Pager.CurrentPage + 1;
            <form method="get" asp-page="/Listings/Index" asp-route-pg="@nextPage">
                <input type="hidden" name="pg" value="@nextPage" />
                <button type="submit" class="btn btn-secondary">Next</button>
            </form>
        }
</div>
